.div {
    display: flex;
    flex-direction: row;
    background-color: rgb(154, 151, 151);
    padding: 1rem;
    margin: 1rem;
    width: 400px;
    height: 100px;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 1rem;
}

.title {
    font-size: 1rem;
    margin: 1rem;
}

.title-red {
    color: red
}
.title-yellow {
    color: yellow
}
.title-green {
    color: green
}
.title-blue {
    color: blue
}

.numbers {
    margin: 1rem;
}