.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--bright-orange);
}

.img {
    width: 60px;
    height: 35px;
    background-color: aliceblue;
}
.title {
    font-size: 2rem;
    color: var(--transparent-white);
    font-family: "Big Shoulders Display", sans-serif;
}
.text {
    color: var(--transparent-white);
    font-weight: 300;
    font-family: "Lexend Deca", sans-serif;
    width: 180px;
    font-size: 0.9rem;
}
.button {
    color:var(--bright-orange);
    background-color: var(--very-light-gray);
    border-radius: 20px;
    padding: 0.5rem;
    width: 120px;
}